<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>

<div class="modal-body">
    <form id="articles_form" name="articles_form" class="form-horizontal" 
         enctype="multipart/form-data"    >
        <input type="hidden" name="id">
        <input type="hidden" name="version">
        <input type="hidden" name="createDateTime" data-flag="date" data-format="yyyy-mm-dd hh:ii:ss">
        <input type="hidden" name="deleted" value="0">
        <input type='hidden' value="${CSRFToken}" id='csrftoken'>
        <div class="box-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">标题<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="title" name="title" placeholder="请填写标题">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">摘要<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="digest" name="digest" placeholder="请填写摘要">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">内容<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="body" name="body" placeholder="请填写内容">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">缩略图<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                         <input type="file" name="file"  id="file_imgsrc">
                         <input type="hidden" name="imgsrc"  id="imgsrc">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">更新时间<span style="color:red">*</span></label> 

                    <div class="input-group col-sm-8">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" placeholder="请填写更新时间" name="lmodify" id="lmodify" data-flag="datepicker" class="form-control" data-format="yyyy-mm-dd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">来源<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="source" name="source" placeholder="请填写来源">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">内容分类<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="checkbox" class="form-control"
                        data-flag="dictSelector" data-code="scope" data-value="code"
                         id="scope" name="scope" placeholder="请填写内容分类">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">产品<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="checkbox" class="form-control" 
                        data-flag="dictSelector" data-code="product" data-value="code"
                        id="product" name="product" placeholder="请填写产品">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">赞<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="votecount" name="votecount" placeholder="请填写赞">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">评论<span style="color:red">*</span></label> 

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="replyCount" name="replyCount" placeholder="请填写评论">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer text-right">
            <button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" data-btn-type="save">提交</button>
        </div>
    </form>
</div>
<script>
    var form;
    var id="${id?default(0)}";
    $(function(){
        //初始化表单
        form=$("#articles_form").form();
        //数据校验
        $("#articles_form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认保存？', function() {
                    var articles = form.getFormSimpleData();
                    ajaxPost(basePath+'/articles/save',articles, function(data) {
                        if(data.success){
                            if(id!="0"){
                                modals.hideWin(winId);
                                articlesTable.reloadRowData(id);
                            }else{
                                modals.hideWin(winId);
                                articlesTable.reloadData();
                            }
                        }
                    });
                });
            },
            fields : {
                "title":{
                    validators:{
                        notEmpty:{message:'标题不能为空'}
                    }
                },
                "digest":{
                    validators:{
                        notEmpty:{message:'摘要不能为空'}
                    }
                },
                "body":{
                    validators:{
                        notEmpty:{message:'内容不能为空'}
                    }
                },
                "imgsrc":{
                    validators:{
                        notEmpty:{message:'缩略图不能为空'}
                    }
                },
                "lmodify":{
                    validators:{
                        notEmpty:{message:'更新时间不能为空'},
date:{format:$(this).data('format'),message:'请输入有效更新时间'}
                    }
                },
                "source":{
                    validators:{
                        notEmpty:{message:'来源不能为空'}
                    }
                },
                "product":{
                    validators:{
                        notEmpty:{message:'产品不能为空'}
                    }
                },
                "votecount":{
                    validators:{
                        notEmpty:{message:'赞不能为空'},
integer:{message:'请填写整数'}
                    }
                },
                "replyCount":{
                    validators:{
                        notEmpty:{message:'评论不能为空'},
integer:{message:'请填写整数'}
                    }
                }
            }
        });
        //初始化控件
        form.initComponent();
        //编辑回填
        if(id!=0){
            ajaxPost(basePath+"/articles/get/"+id,null,function(data){
                form.initFormData(data);
            })
        }
    });
  
</script>

<link rel="stylesheet" href="./resources/common/libs/fileinput/css/fileinput.min.css">
<script src="./resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="./resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="./resources/common/js/base-file.js"></script>
<script>
$(function(){
        $("#file_imgsrc").file({
              fileinput: {
                  maxFileSize: 10240,
                  maxFileCount:3
              },
              fileIdContainer:"[name='imgsrc']",
              window:false
          });
});
 
</script>
