<!-- 以下代码为代码生成器生成，生成时间: 2018-06-09 15:14:56，作者：billjiang/475572229@qq.com-->
<section class="content-header">
    <h1>
        试卷管理
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">考场</a></li>
        <li class="active">试卷管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" style="display: none">
                    <!--查询条件-->
                    <input type="search" placeholder="请输入标题" title="标题" name="title"
                                           class="form-control" id="title" operator="like" likeOption="true">
                    <input type="search" placeholder="请输入描述" title="描述" name="digest"
                                           class="form-control" id="digest" operator="like" likeOption="true">
                     <select type="radio" name="product.code" data-flag="dictSelector" data-code="PRODUCT" data-value="code" data-placeholder="选择产品" class="form-control select2" style="width: 120px;" data-blank="true"></select>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-btn-type="add"><i class="fa fa-pencil"> </i>新增试卷</button>
                        <button type="button" class="btn btn-info" data-btn-type="edit">编辑</button>
                        <button type="button" class="btn btn-danger" data-btn-type="delete">删除</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="papers_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style type="text/css">
tbody td{ /*  display:block; */
   /* width:31em;
    word-break:keep-all; 
    white-space:nowrap; */
    overflow:hidden; 
    text-overflow:ellipsis;
    }
</style>
<script>


    var form = $("#searchDiv").form({baseEntity: false});
    form.initComponent();
    var papersTable, winId = "papersWin";
    $(function (){
        papersTable = new CommonTable("papers_table", "papers", "searchDiv", null);
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
           var action = $(this).data("btn-type");
            var rowId = papersTable.getSelectedRowId();
            switch (action) {
                case "add":
                    modals.openWin({
                        winId: winId,
                        title: '新增试卷',
                        width: "900px",
                        url: basePath + "/papers/edit"
                    })
                    break;
                case "edit":
                    if (!rowId) {
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId: winId,
                        title: '编辑试卷【' + papersTable.getSelectedRowData().name + '】',
                        width: '900px',
                        url: basePath + "/papers/edit?id=" + rowId
                    });
                    break;
                case 'delete':
                    if (!rowId) {
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据？", function () {
                        ajaxPost(basePath + "/papers/delete/" + rowId, null, function (data) {
                            if (data.success) {
                                papersTable.reloadRowData();
                            } else {
                                modals.info("试卷数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
            }
        })
    })


    function fnRenderPaperOperator(id, a){
       //console.log(v);
       console.log(a);
       var editUrl = "resources/surveyeditor/example/index.html#" + id;
       var showUrl = "papers/showpaper?id="+id;
       var html =  "<a class='btn btn-info' href='"+editUrl+"' target=_blank>编辑考题</a>"
       +  "<a class='btn btn-success' href='"+showUrl+"' target=_blank>预览</a>";
       return html;
    }

    function editPaperQuestions(id){
        //@ sourceURL=paperlist.js
 
         modals.openWin({
            winId: winId,
            title: '编辑试卷【 】',
            width: '900px',
            url: basePath + "/papers/edit?id=" + id
        });
    }
</script>