<!-- 以下代码为代码生成器生成，生成时间: 2018-06-09 15:18:31，作者：billjiang/475572229@qq.com-->
<section class="content-header">
    <h1>
        考试成绩管理
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">考场</a></li>
        <li class="active">考试成绩管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" style="display: none">
                    <!--查询条件-->
                    <input type="search" placeholder="请输入姓名" title="姓名" name="name"
                                           class="form-control" id="name" operator="like" likeOption="true">
                     <select type="radio" name="product.code" data-value="code"  data-flag="dictSelector" data-code="PRODUCT" data-placeholder="选择产品" class="form-control select2" style="width: 120px;" data-blank="true">
                     </select>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-btn-type="add"><i class="fa fa-pencil"> </i>新增考试成绩</button>
                        <button type="button" class="btn btn-info" data-btn-type="edit">编辑</button>
                        <button type="button" class="btn btn-danger" data-btn-type="delete">删除</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="score_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false});
    form.initComponent();
    var scoreTable, winId = "scoreWin";
    $(function (){
        scoreTable = new CommonTable("score_table", "score", "searchDiv", null);
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = scoreTable.getSelectedRowId();
            switch (action) {
                case "add":
                    modals.openWin({
                        winId: winId,
                        title: '新增考试成绩',
                        width: "900px",
                        url: basePath + "/score/edit"
                    })
                    break;
                case "edit":
                    if (!rowId) {
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId: winId,
                        title: '编辑考试成绩【' + scoreTable.getSelectedRowData().name + '】',
                        width: '900px',
                        url: basePath + "/score/edit?id=" + rowId
                    });
                    break;
                case 'delete':
                    if (!rowId) {
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据？", function () {
                        ajaxPost(basePath + "/score/delete/" + rowId, null, function (data) {
                            if (data.success) {
                                scoreTable.reloadRowData();
                            } else {
                                modals.info("考试成绩数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
            }
        })
    })

    function fnRenderShowAnswerBtn(id){
        var showUrl = "";
        var html = "<a class='btn btn-success' href='"+showUrl+"' target=_blank>查看答卷</a>";
        return html;
    }
</script>